<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Search by Name:</div>
      <div class="col-md-4">
        <input type="text"
               [(ngModel)]="listFilter" />
      </div>
    </div>
    <!-- <div class="row"
         *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div> -->

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf="managers && managers.length">
        <thead>
          <tr>
            <th>
              <button class="btn btn-outline-primary btn-sm"
                      (click)="toggleImage()">
                {{showImage ? "Hide" : "Show"}} Image
              </button>
            </th>
            <th (click)="nameSort()">Manager</th>
            <th (click)="companySort()">Company</th>
            <th (click)="ratingSort()">Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let manager of filteredManagers">
            <td>
              <img *ngIf="showImage && manager.imageUrl"
                   [src]="manager.imageUrl"
                   [title]="manager.managerName"
                   [style.width.px]="imageWidth"
                   [style.margin.px]="imageMargin">
            </td>
            <td>
              <a [routerLink]="['/managers', manager.id]">
                {{ manager.managerName }}
              </a>
            </td>
            <td>{{ manager.company }}</td>
            <td>
              <pm-star [rating]="manager.rating">
              </pm-star>
            </td>
            <td>
              <button class="btn btn-outline-primary btn-sm"
                      [routerLink]="['/managers', manager.id, 'edit']">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div *ngIf="errorMessage"
     class="alert alert-danger">
  Error: {{ errorMessage }}
</div>