<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveManager()"
          [formGroup]="managerForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="managerNameId">Manager Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="managerNameId"
                 type="text"
                 placeholder="Name (required)"
                 formControlName="managerName"
                 [ngClass]="{'is-invalid': displayMessage.managerName }" />
          <span class="invalid-feedback">
            {{displayMessage.managerName}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="managerCompanyId">Manager Company</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="managerCompanyId"
                 type="text"
                 placeholder="Company (required)"
                 formControlName="managerCompany"
                 [ngClass]="{'is-invalid': displayMessage.managerCompany}" />
          <span class="invalid-feedback">
            {{displayMessage.managerCompany}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="ratingId">Star Rating (1-5)</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="ratingId"
                 type="text"
                 placeholder="Rating (1-5)"
                 formControlName="rating"
                 [ngClass]="{'is-invalid': displayMessage.rating}" />
          <span class="invalid-feedback">
            {{displayMessage.rating}}
          </span>
        </div>
      </div>

    
      
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="descriptionId">Description</label>

        <div class="col-md-8">
          <textarea class="form-control"
                    id="descriptionId"
                    placeholder="Description"
                    rows=3
                    formControlName="description"
                    [ngClass]="{'is-invalid': displayMessage.description}"></textarea>
          <span class="invalid-feedback">
            {{ displayMessage.description}}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="managerForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!managerForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/managers']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this manager"
                  (click)="deleteManager()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>